{% extends "SsfzBundle::baseLayout.html.twig" %}

{% block body %}
    <div id="login-form" class="col-md-12">    
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <p id="error"></p>           
                {{ error }}
                {% form_theme form 'bootstrap_3_layout.html.twig' %} 
                {{ form_start(form) }}
                <h3>
                    <span>{{ title }}</span>
                </h3>
                {% if form.oldPassword is defined %}
                    {{ form_row(form.oldPassword) }}
                {% endif %}
                {{ form_row(form.newPassword) }}
                <div id="form-submit-div">
                    <button class="form-control submit-button orange-button" type="submit">{{ submitButtonName }}</button>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if form.oldPassword is defined %}

        <script>
            $(document).ready(function () {
                $('button[class^=form-control]').on('click', function (e) {
                    e.preventDefault();
                    var el1 = $("#change_password_oldPassword");
                    var el2 = $("#change_password_newPassword_first");
                    var el3 = $("#change_password_newPassword_second");

                    if (el1.val() != '' && el2.val() != '') {
                        var dialog = bootbox.dialog({
                            message: "Czy zmienić hasło?",
                            buttons: {
                                cancel: {
                                    label: "Nie",
                                    className: 'btn-info',
                                    callback: function () {
                                        $('form[name^=change_password]')[0].reset();
                                    }
                                },
                                ok: {
                                    label: "Tak",
                                    className: 'btn-danger',
                                    callback: function () {
                                        $("form[name^=change_password]").submit();
                                    }
                                }
                            }
                        });
                    }
                    if (el1.val() == '' ||
                            el2.val() == '' ||
                            el3.val() == '') {
                        $('#error').html('Nie wypełniono wszystkich pół formularza.');
                    } else
                        $('#error').html('');
                });
            });
        </script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}              
