Witaj {{ login }}<br>
<br>
Twoje konto zostało zarejestrowane, jednak jest nieaktywne.<br>
Aby aktywować konto użyj poniższego linku:<br>
<br>
<a href="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/uzytkownik/aktywacja/token={{ code }}">
    {{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}/uzytkownik/aktywacja/token={{ code }}
</a><br>
<br>
Pozdrawiamy,<br>
Polska Agencja Rozwoju Przedsiębiorczości<br>
<br>
Wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać.