{% extends 'SsfzBundle::baseLayout.html.twig' %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>{{ beneficjent.nazwa }}</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Adres</div>
                    <div class="panel-body">
                        <div>{{ beneficjent.adrUlica }} {{ beneficjent.adrBudynek }}
                            {% if beneficjent.adrLokal %}
                                /{{ beneficjent.adrLokal }}
                            {% endif %}
                        </div>
                        <div>{{ beneficjent.adrKod }} {{ beneficjent.adrPoczta }}, woj. {{ beneficjent.adrWojewodztwo }}</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Dane kontaktowe</div>
                    <div class="panel-body">
                        <div>
                            tel. {{ beneficjent.telStacjonarny }},
                            kom.{{ beneficjent.telKomorkowy }}{% if beneficjent.fax %}, fax. {{ beneficjent.fax }}
                            {% endif %}
                        </div>
                        <div>e-mail {{ beneficjent.email }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Osoby zatrudnione</div>
            <div class="panel-body">
            {{ datatable({
                'id': 'dta-osoby',
                'class': 'table table-striped',
                'js': {
                    'ajax': path('datatableOsoby'),
                    'pageLength': 5,
                    'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Wszystkie"]],
                    'columnDefs': [{'targets': 0, 'visible': false }],
                    'drawCallback': 'function(settings) {
                        var pagination = $(this).closest(".dataTables_wrapper").find(".dataTables_paginate");
                        pagination.toggle(this.api().page.info().pages > 1);}'
                }
            }) }}
            </div>
        </div>
        <a href="{{ path('beneficjent_profil') }}"
           class="btn btn-primary pull-right"
           role="button"><span class="glyphicon glyphicon-edit"></span> Edytuj profil</a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Umowy</div>
    <div class="panel-body">
            {{ datatable({
                'id': 'dta-umowy',
                'class': 'table table-striped table-hover',
                'js': {
                    'ajax': path('datatableUmowy'),
                    'columnDefs': [{'targets': 1, 'orderable': false }],
                    'drawCallback': 'function(settings) {
                        var pagination = $(this).closest(".dataTables_wrapper").find(".dataTables_paginate");
                        pagination.toggle(this.api().page.info().pages > 1);}'
                }
            }) }}
    </div>
</div>
{% endblock %}
