{% extends 'SsfzBundle::baseLayout.html.twig' %}

{% block body %} 
    <div id="login-form" class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% form_theme form 'bootstrap_3_layout.html.twig' %} 
            {{ form_start(form) }}
            <h3>
                <span>Rejestracja konta Beneficjenta</span>
            </h3>
            {{ form_row(form.login) }}
            {{ form_row(form.email) }}
            {{ form_row(form.haslo.first) }}
            {{ form_row(form.haslo.second) }}
            <div id="form-submit-div">
                <input type="hidden" name="/" value="/account" />
                <button class="form-control submit-button orange-button" type="submit">Zarejestruj konto</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            {{ form_end(form) }}
            <div id="form-submit-div">
                <a href="/login">                
                    <button class="form-control submit-button">Anuluj</button>
                </a>                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} 
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
