{% extends 'SsfzBundle::baseLayout.html.twig' %}

{% block body %}
    <div>
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_row(form._token) }}
        {{ form_end(form) }}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4>Sprawozdanie do umowy <strong>{{ sprawozdanie.numerUmowy }}</strong> za okres {{ sprawozdanie.okres }} {{ sprawozdanie.rok }}</h4>
        </div>

        <div class="panel-body">
            {% if sprawozdanie|default(null) is not empty %}
                {% include 'SsfzBundle:Sprawozdanie:naglowek_odczyt.html.twig' with {'sprawozdanie': sprawozdanie} %}
            {% endif %}

            {% if sprawozdanie.umowa.beneficjent.program.czyFunduszZalazkowy() %}
                {% if sprawozdania_spolek|default(null) is not empty %}
                    {% include 'SsfzBundle:Sprawozdanie:spolki_odczyt.html.twig' with {'sprawozdania_spolek': sprawozdania_spolek} %}
                {% endif %}

                {% if przeplyw_finansowy|default(null) is not empty %}
                    {% include 'SsfzBundle:Sprawozdanie:przeplyw_finansowy_odczyt.html.twig' with {'przeplyw_finansowy': przeplyw_finansowy} %}
                {% endif %}
            {% endif %}

            {% if sprawozdanie.umowa.beneficjent.program.czyFunduszPozyczkowy() %}
                {% include 'SsfzBundle:Sprawozdanie:pozyczkowe_odczyt.html.twig' with {'sprawozdanie': sprawozdanie} %}

                {% if dane_pozyczek|default(null) is not empty %}
                    {% include 'SsfzBundle:Sprawozdanie:dane_pozyczek_odczyt.html.twig' with {'dane_pozyczek': dane_pozyczek} %}
                {% endif %}

                {% if dane_pozyczek_zagregowane|default(null) is not empty %}
                    {% include 'SsfzBundle:Sprawozdanie:dane_pozyczek_zagregowane.html.twig' with {'dane_zagregowane': dane_pozyczek_zagregowane} %}
                {% endif %}
            {% endif %}

            {% if sprawozdanie.umowa.beneficjent.program.czyFunduszPoreczeniowy() and dane_poreczen|default(null) is not empty %}
                {% include 'SsfzBundle:Sprawozdanie:poreczeniowe_odczyt.html.twig' with {'sprawozdanie': sprawozdanie} %}
                {% include 'SsfzBundle:Sprawozdanie:dane_poreczen_odczyt.html.twig' with {'dane_poreczen': dane_poreczen} %}
            {% endif %}

            <div class="pull-right">
                <button id="ocena-zatwierdz"
                        name="ocena-zatwierdz"
                        type="button"
                        value="ocena-zatwierdz"
                        class="btn btn-primary"><span class="fas fa-check"></span> Zatwierdź</button>
                <button id="ocena-popraw"
                        data-toggle="modal"
                        data-target="#confirm-ocena-popraw"
                        type="button" value="ocena-popraw"
                        class="btn btn-warning"><span class="fas fa-edit"></span> Do poprawy</button>
                <button id="ocena-powrot"
                        type="button"
                        value="powrot"
                        class="btn btn-danger"><span class="fas fa-chevron-left"></span> Powrót</button>
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="confirm-ocena-popraw"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Czy odesłać sprawozdanie do poprawy?
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="uwagi">Komentarz:</label>
                        <textarea class="form-control" rows="3" id="ocen-uwagi"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="ocena-popraw-submit" class="btn btn-primary success">Tak</a>
                    <button id="ocena-popraw-nie" type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@SsfzBundle/Resources/public/js/parp_ocen.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
