{% block body %}
    <div>
        {% if form_okresy is defined and form_okresy is not empty %}
            <div>
                {{ form_start(form_okresy) }}
                {{ form_row(form_okresy.numerUmowy) }}
                {{ form_row(form_okresy.okres) }}
                {{ form_row(form_okresy.rok) }}
                {% if form_okresy.sprawozdaniaSpolek is defined %}
                    <div class="sprawozdaniaSpolek panel-body"
                         data-prototype="{{ form_widget(form_okresy.sprawozdaniaSpolek.vars.prototype)|e('html_attr') }}">
                        {% for sprawozdanie in form_okresy.sprawozdaniaSpolek %}
                            <div class="row sprawozdanie-row">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Podgląd sprawozdania</div>
                                    <div class="panel-body">
                                        {{ form_row(sprawozdanie.liczbaPorzadkowa) }}
                                        {{ form_row(sprawozdanie.nazwaSpolki) }}
                                        {{ form_row(sprawozdanie.krs) }}
                                        {{ form_row(sprawozdanie.uzyskanePrzychody) }}
                                        {{ form_row(sprawozdanie.planowanePrzychody) }}
                                        {{ form_row(sprawozdanie.ebitda) }}
                                        {{ form_row(sprawozdanie.ncf) }}
                                        {{ form_row(sprawozdanie.sumaBilansowa) }}
                                        {{ form_row(sprawozdanie.zatrudnienieEtaty) }}
                                        {{ form_row(sprawozdanie.zatrudnienieEtaty) }}
                                        {{ form_row(sprawozdanie.zatrudnioneKobiety) }}
                                        {{ form_row(sprawozdanie.zatrudnieniMezczyzni) }}
                                        {{ form_row(sprawozdanie.zatrudnienieInneFormy) }}
                                        {{ form_row(sprawozdanie.zatrudnienieInneFormyKobiety) }}
                                        {{ form_row(sprawozdanie.zatrudnienieInneFormyMezczyzni) }}
                                        {{ form_row(sprawozdanie.zatrudnieniewStosunkuDoPoprzedniegoRoku) }}
                                        {{ form_row(sprawozdanie.zatrudnieniewStosunkuDoPoprzedniegoOkresu) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form_end(form_okresy) }}
            </div>
        {% endif %}

        {% if form_przeplywy_finansowe is defined and form_przeplywy_finansowe is not empty %}
            <div class="panel panel-default">
                <div class="panel-heading">Przepływ finansowy</div>
                <div class="panel-body">
                    <div>
                        {{ form_start(form_przeplywy_finansowe) }}
                        <div>
                            {{ form_row(form_przeplywy_finansowe.saldoPoczatkowe) }}
                            {{ form_row(form_przeplywy_finansowe.wplywy) }}
                            {{ form_row(form_przeplywy_finansowe.wyjsciaZInwestycji) }}
                            {{ form_row(form_przeplywy_finansowe.udzialWZyskach) }}
                            {{ form_row(form_przeplywy_finansowe.inneWplywy) }}
                            {{ form_row(form_przeplywy_finansowe.wyplywy) }}
                            {{ form_row(form_przeplywy_finansowe.wejsciaKapitalowe) }}
                            {{ form_row(form_przeplywy_finansowe.preinkubacjaPomyslow) }}
                            {{ form_row(form_przeplywy_finansowe.wydatkiOperacyjne) }}
                            {{ form_row(form_przeplywy_finansowe.podatki) }}
                            {{ form_row(form_przeplywy_finansowe.inneWyplywy) }}
                            {{ form_row(form_przeplywy_finansowe.saldoKoncowe) }}
                            <br />
                            <br />
                            {{ form_row(form_przeplywy_finansowe.liczbaPomyslowWInkubatorze) }}
                            {{ form_row(form_przeplywy_finansowe.liczbaPomyslowOcenionych) }}
                            {{ form_row(form_przeplywy_finansowe.liczbaPomyslowOcenionychPozytywnie) }}
                            {{ form_row(form_przeplywy_finansowe.liczbaPomyslowOcenionychNegatywnie) }}
                            {{ form_row(form_przeplywy_finansowe.liczbaZakonczonychPreinkubacji) }}
                            {{ form_row(form_przeplywy_finansowe.liczbaDokonanychInwestycji) }}
                        </div>
                        {{ form_end(form_przeplywy_finansowe) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
