<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="msapplication-config" content="none"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Sprawozdawczość{% endblock %}</title>

        {# Zasoby CSS wspólne -zawsze ładowane. #}
        {% block base_stylesheets %}
            {% stylesheets
                '%kernel.root_dir%/../vendor/assets/bootstrap/dist/css/bootstrap.min.css'
                '%kernel.root_dir%/../vendor/assets/bootstrap/dist/css/bootstrap.min.css.map'
                '%kernel.root_dir%/../vendor/assets/@fortawesome/fontawesome-free/css/fontawesome.min.css'
                '%kernel.root_dir%/../vendor/assets/@fortawesome/fontawesome-free/css/solid.min.css'
                '%kernel.root_dir%/../vendor/assets/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css'
                '%kernel.root_dir%/../vendor/assets/datatables.net-bs/css/dataTables.bootstrap.css'
                '%kernel.root_dir%/../vendor/assets/datatables.net-buttons-bs/css/buttons.bootstrap.min.css'
                'bundles/ssfz/css/app.css'
                filter='cssrewrite' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
            {% endstylesheets %}
        {% endblock %}

        {# Miejsce na zasoby CSS specyficzne dla poszczególnych szablonów. #}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {# Zasoby JS wspólne - zawsze ładowane. #}
        {% block base_javascripts %}
            {% javascripts
                '%kernel.root_dir%/../vendor/assets/jquery/dist/jquery.min.js'
                '%kernel.root_dir%/../vendor/assets/bootstrap/dist/js/bootstrap.min.js'
                '%kernel.root_dir%/../vendor/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'
                '%kernel.root_dir%/../vendor/assets/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pl.min.js'
                '%kernel.root_dir%/../vendor/assets/bootbox/bootbox.min.js'
                '%kernel.root_dir%/../vendor/assets/datatables.net/js/jquery.dataTables.js'
                '%kernel.root_dir%/../vendor/assets/datatables.net-bs/js/dataTables.bootstrap.js'
                '%kernel.root_dir%/../vendor/assets/datatables.net-buttons/js/dataTables.buttons.min.js'
                '%kernel.root_dir%/../vendor/assets/datatables.net-buttons-bs/js/buttons.bootstrap.min.js'
                '%kernel.root_dir%/../vendor/assets/datatables.net-buttons/js/buttons.colVis.min.js'
                '%kernel.root_dir%/../vendor/assets/datatables.net-buttons/js/buttons.print.min.js'
                '%kernel.root_dir%/../vendor/assets/jquery-mask-plugin/dist/jquery.mask.min.js'
                '@SsfzBundle/Resources/public/js/ssfz_common.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {# Miejsce na zasoby JS specyficzne dla poszczególnych szablonów. #}
        {% block javascripts %}{% endblock %}

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if is_granted('ROLE_BENEFICJENT') %}
                        <a class="navbar-brand" href="{{ path('beneficjent_lista_programow') }}">SSFZ ></a>
                        {% if app.user.aktywnyProgram %}
                            <a class="navbar-brand" href="{{ path('beneficjent') }}">{{ app.user.aktywnyProgram.nazwa }}</a>
                        {% endif %}
                    {% else %}
                        <a class="navbar-brand" href="{{ path('default') }}">SSFZ</a>
                    {% endif %}
                </div>
                {% if app.user %}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ app.user.login }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_BENEFICJENT') %}
                                    <li><a href="/haslo/zmiana">Zmiana hasła<span class="sr-only">(current)</span></a></li>
                                    <li class="divider"></li>
                                    {% endif %}
                                    <li class="active"><a href="{{ path('wyloguj') }}">Wyloguj<span class="sr-only">(current)</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_KOORDYNATOR_TECHNICZNY') %}
                                <li><a href="{{ path('utworzPracownika') }}">Dodaj pracownika PARP</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_KOORDYNATOR_MERYTORYCZNY') or is_granted('ROLE_PRACOWNIK_PARP') %}
                                <li><a href="{{ path('raporty') }}">Raporty</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% block main_container %}
            <div class="{% if fluid_container|default(false) %}container-fluid{% else %}container{% endif %}">
                <div class="row">
                    <div id="content">
                        {% if app.session.started %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="fade-out alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <strong>{{ flashMessage.title }}</strong> {{ flashMessage.message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
