{% extends "SsfzBundle::baseLayout.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Dodaj nowe sprawozdanie</div>
            {{ form_start(form) }}
            <div class="panel-body">
                {{ form_row(form.numerUmowy) }}
                {{ form_row(form.okres) }}
                {{ form_row(form.rok) }}
                <div id="form-submit-div" class="row btn-toolbar">
                    <a class="btn btn-danger pull-right width-short" href="{{ path('beneficjent') }}"><span class="glyphicon glyphicon-chevron-left"></span> Powrót</a>
                    <button type="submit" class="btn btnRegister btn-primary pull-right width-short"><span class="glyphicon glyphicon-ok"></span> Dodaj nowe</button>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Lista sprawozdań</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rok</th>
                        <th>Okres</th>
                        <th>Nazwa funduszu</th>
                        <th>Status</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sprawozdanie in listaSprawozdan %}
                        <tr>
                            <td>{{ sprawozdanie.rok }}</td>
                            <td>{{ sprawozdanie.okres }}</td>
                            <td>{{ sprawozdanie.nazwaFunduszu }}</td>
                            <td>{{ sprawozdanie.status }}</td>
                            <td>
                                <a href="{{ path('sprawozdania_spo_podglad', {'czyPozyczkowe': czyPozyczkowe, 'sprawozdanieId': sprawozdanie.id}) }}" class="btn btn-sm btn-info" role="button">
                                    <span class="fas fa-eye-open"></span> Podgląd
                                </a>
                                {% if not sprawozdanie.dataPrzeslaniaDoParp %}
                                    <a href="{{ path('sprawozdania_spo_edycja', {'czyPozyczkowe': czyPozyczkowe, 'sprawozdanieId': sprawozdanie.id}) }}" class="btn btn-sm btn-primary" role="button">
                                        <i class="fas fa-edit"></i> Edytuj
                                    </a>

                                    {% if sprawozdanie.umowa.beneficjent.program.czyFunduszPozyczkowy()|default(false) %}
                                        <a href="{{ url('edycja_danych_pozyczki_dla_sprawozdania', {id: sprawozdanie.id}) }}" class="btn btn-sm btn-success" role="button"><span class="fas fa-plus"></span> Dodaj dane o pożyczkach</a>
                                    {% endif %}

                                    <span class="btn btn-sm btn-warning btn-send-to-parp" data-href="{{ path('sprawozdania_spo_przeslij', {'czyPozyczkowe': czyPozyczkowe, 'sprawozdanieId': sprawozdanie.id}) }}" role="button">
                                        <span class="fas fa-share-alt"></span> Prześlij do PARP
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@SsfzBundle/Resources/public/js/sprawozdania_spo_lista.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
