{% block sprawozdanie_poreczeniowe_odczyt %}
    <div class="panel panel-default">
        <div class="panel-heading">Dane podmiotu prowadzącego fundusz poręczeniowy</div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Nazwa Funduszu (Nazwa instytucji prowadzącej fundusz poręczeniowy)</strong></td>
                            <td>{{ sprawozdanie.nazwaFunduszu|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>NIP</strong></td>
                            <td>{{ sprawozdanie.nip|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>KRS</strong></td>
                            <td>{{ sprawozdanie.krs|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Województwo</strong></td>
                            <td>{{ sprawozdanie.wojewodztwo|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Miejscowość</strong></td>
                            <td>{{ sprawozdanie.miejscowosc|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Ulica</strong></td>
                            <td>{{ sprawozdanie.ulica|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Nr budynku</strong></td>
                            <td>{{ sprawozdanie.budynek|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Nr lokalu</strong></td>
                            <td>{{ sprawozdanie.lokal|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Kod pocztowy</strong></td>
                            <td>{{ sprawozdanie.kodPocztowy|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Poczta</strong></td>
                            <td>{{ sprawozdanie.Poczta|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Telefon stacjonarny</strong></td>
                            <td>{{ sprawozdanie.telStacjonarny|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Telefon komórkowy</strong></td>
                            <td>{{ sprawozdanie.telKomorkowy|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Adres e-mail</strong></td>
                            <td>{{ sprawozdanie.email|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Fax</strong></td>
                            <td>{{ sprawozdanie.fax|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Rok założenia</strong></td>
                            <td>{{ sprawozdanie.rokZalozenia|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Forma prawna</strong></td>
                            <td>{{ sprawozdanie.formaPrawna|default('') }}</td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Kapitał Funduszu Poręczeniowego</strong></td>
                            <td>{{ sprawozdanie.kapitalOgolem }} zł</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed table-striped">
                    <tr>
                        <th class="col-sm-1">Składnik</th>
                        <th class="col-sm-1">Wartość</th>
                    </tr>
                    {% for skladnik in sprawozdanie.skladnikiOgolem %}
                        <tr>
                            <td><strong>{{ skladnik.skladnik }}</strong></td>
                            <td>{{ skladnik.wartosc }} zł</td>
                        </tr>
                    {% endfor %}
                </table>

                <hr />

                <table class="table table-bordered table-condensed">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>w tym kapitał wydzielonego Funduszu Poręczeniowego prowadzonego zgodnie z zasadami gospodarowania monitorowanymi przez PARP</strong></td>
                            <td>{{ sprawozdanie.kapitalWydzielony }} zł</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <th class="col-sm-1">Składnik</th>
                            <th class="col-sm-1">Wartość</th>
                        </tr>
                        <tr>
                            {% for skladnik in sprawozdanie.skladnikiWydzielone %}
                                <tr>
                                    <td><strong>{{ skladnik.skladnik }}</strong></td>
                                    <td>{{ skladnik.wartosc }} zł</td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Zasady gospodarowania funduszem poręczeniowym</div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed table-striped">

                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Data zatwierdzenia zasad gospodarowania funduszem poręczeniowym przez PARP</strong></td>
                            <td>
                                {% if sprawozdanie.dataZatwierdzeniaZasadGospodarowania|default('') != '' %}
                                    {{ sprawozdanie.dataZatwierdzeniaZasadGospodarowania|date('Y-m-d') }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Fundusz nie działa dla zysku</strong></td>
                            <td>{{ sprawozdanie.czyNieDzialaDlaZysku|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Posiada wydzielony księgowo fundusz</strong></td>
                            <td>{{ sprawozdanie.czyPosiadaWydzielonyFundusz|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Fundusz udziela poręczeń kredytów i pożyczek nie niżej oprocentowanych niż stopa referencyjna</strong></td>
                            <td>{{ sprawozdanie.czyOprocentowanieNieNizszeOdStopy|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Poręczenia są udzielane po przeprowadzeniu analizy ryzyka</td>
                            <td>{{ sprawozdanie.czyUdzielaPoAnalizieRyzyka|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Poręczenia udzielane są przedsiębiorcom nie będącym w trudniej sytuacji</strong></td>
                            <td>{{ sprawozdanie.czyNieWTrudnejSytuacji|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Poręczenia są udzielane w wysokości nie przekraczającej 80% zobowiązania którego dotyczą</strong></td>
                            <td>{{ sprawozdanie.czyNiePrzekraczaja80|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Poręczenia udzielane są za wynagrodzeniem</strong></td>
                            <td>{{ sprawozdanie.czyZaWynagrodzeniem|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Fundusz posiada odpowiedni potencjał ekonomiczny</strong></td>
                            <td>{{ sprawozdanie.czyOdpowiedniPotencjalEkonomiczny|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Fundusz zatrudnia pracowników posiadających odpowiednie kwalifikacje</strong></td>
                            <td>{{ sprawozdanie.czyPracownicyPosiadajaKwalifikacje|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Inne (nazwa definiowana przez fundusz)</strong></td>
                            <td>{{ sprawozdanie.inne|default('') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@SsfzBundle/Resources/public/js/sprawozdanie_poreczeniowe_odczyt.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
