{% extends "SsfzBundle::baseLayout.html.twig" %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Edycja sprawozdania</div>
            {{ form_start(form) }}
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td class="etykieta">Numer umowy</td>
                        <td>{{ sprawozdanie.numerUmowy }}</td>
                    </tr>
                    <tr>
                        <td class="etykieta">Sprawozdanie za okres</td>
                        <td>{{ sprawozdanie.okres }}</td>
                    </tr>
                    <tr>
                        <td class="etykieta">Rok</td>
                        <td>{{ sprawozdanie.rok }}</td>
                    </tr>
                </table>
                <hr>

                {{ form_row(form.nazwaFunduszu) }}
                {{ form_row(form.nip) }}
                {{ form_row(form.krs) }}
                {{ form_row(form.wojewodztwo) }}
                {{ form_row(form.miejscowosc) }}
                {{ form_row(form.ulica) }}
                {{ form_row(form.budynek) }}
                {{ form_row(form.lokal) }}
                {{ form_row(form.kodPocztowy) }}
                {{ form_row(form.poczta) }}
                {{ form_row(form.telStacjonarny) }}
                {{ form_row(form.telKomorkowy) }}
                {{ form_row(form.email) }}
                {{ form_row(form.fax) }}
                {{ form_row(form.rokZalozenia) }}
                {{ form_row(form.formaPrawna) }}

                <hr>

                <div class="hidden">{{ form.skladnikiOgolem.vars.label }}</div>
                {{ form_row(form.kapitalOgolem) }}
                <div id="skladniki-ogolem" class="skladniki-ogolem panel-body" data-prototype="{{ form_widget(form.skladnikiOgolem.vars.prototype)|e('html_attr') }}">
                    {% for skladnik in form.skladnikiOgolem %}
                        <div class="row skladnik-ogolem-row">
                            <div class="skladnik-ogolem-col col-sm-11">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ form_row(skladnik.skladnik) }}
                                        {{ form_row(skladnik.wartosc) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                <div class="hidden">{{ form.skladnikiWydzielone.vars.label }}</div>
                {{ form_row(form.kapitalWydzielony) }}
                <div id="skladniki-wydzielone" class="skladniki-wydzielone panel-body" data-prototype="{{ form_widget(form.skladnikiWydzielone.vars.prototype)|e('html_attr') }}">
                    {% for skladnik in form.skladnikiWydzielone %}
                        <div class="row skladnik-wydzielony-row">
                            <div class="skladnik-wydzielony-col col-sm-11">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ form_row(skladnik.skladnik) }}
                                        {{ form_row(skladnik.wartosc) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <hr>

                {{ form_row(form.dataZatwierdzeniaZasadGospodarowania) }}
                {{ form_row(form.czyNieDzialaDlaZysku) }}
                {{ form_row(form.minimalneOprocentowanie) }}
                {{ form_row(form.czyUdzielaPoAnalizieRyzyka) }}
                {{ form_row(form.maksymalnaWielkoscPozyczki) }}
                {{ form_row(form.czyNieWTrudnejSytuacji) }}
                {{ form_row(form.czyOdpowiedniPotencjalEkonomiczny) }}
                {{ form_row(form.czyPracownicyPosiadajaKwalifikacje) }}
                {{ form_row(form.inne) }}

                <div id="form-submit-div" class="row btn-toolbar">
                    <a class="btn btn-danger pull-right width-short" href="{{ path('lista_sprawozdan_spo', {'umowa': sprawozdanie.umowa.id}) }}">
                        <span class="glyphicon glyphicon-chevron-left"></span> Powrót
                    </a>
                    <button type="submit" class="btn btnRegister btn-primary pull-right width-short">
                        <span class="glyphicon glyphicon-ok"></span> Zapisz
                    </button>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@SsfzBundle/Resources/public/js/sprawozdanie_pozyczkowe_edycja.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
