{% block przeplyw_finansowy_odczyt %}
    {% set odstep_6_spacji = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' %}
    <div class="panel panel-default">
        <div class="panel-heading">Przepływ finansowy</div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Saldo początkowe</strong></td>
                            <td>{{ przeplyw_finansowy.saldoPoczatkowe|default('') }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Wpływy</strong></td>
                            <td>{{ przeplyw_finansowy.wplywy|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Wyjścia z inwestycji</strong></td>
                            <td>{{ przeplyw_finansowy.wyjsciaZInwestycji|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Udział w zyskach</strong></td>
                            <td>{{ przeplyw_finansowy.udzialWZyskach|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Inne</strong></td>
                            <td>{{ przeplyw_finansowy.inneWplywy|default('') }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Wypływy</strong></td>
                            <td>{{ przeplyw_finansowy.wyplywy|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Wejścia kapitałowe</strong></td>
                            <td>{{ przeplyw_finansowy.wejsciaKapitalowe|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Preinkubacja pomysłów</strong></td>
                            <td>{{ przeplyw_finansowy.preinkubacjaPomyslow|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Wydatki operacyjne</strong></td>
                            <td>{{ przeplyw_finansowy.wydatkiOperacyjne|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Podatki</strong></td>
                            <td>{{ przeplyw_finansowy.podatki|default('') }}</td>
                        </tr>
                        <tr>
                            <td>{{ odstep_6_spacji|raw }}<strong>Inne</strong></td>
                            <td>{{ przeplyw_finansowy.inneWyplywy|default('') }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Saldo końcowe</strong></td>
                            <td>{{ przeplyw_finansowy.saldoKoncowe|default('') }}</td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-8"><strong>Liczba pomysłów, które wpłynęły do inkubatora w okresie</strong></td>
                            <td>{{ przeplyw_finansowy.liczbaPomyslowWInkubatorze|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Liczba pomysłów ocenionych w okresie</strong></td>
                            <td>{{ przeplyw_finansowy.liczbaPomyslowOcenionych|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ odstep_6_spacji|raw }}- w tym pozytywnie</strong></td>
                            <td>{{ przeplyw_finansowy.liczbaPomyslowOcenionychPozytywnie|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ odstep_6_spacji|raw }}- w tym negatywnie</strong></td>
                            <td>{{ przeplyw_finansowy.liczbaPomyslowOcenionychNegatywnie|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Liczba zakończonych preinkubacji w okresie</strong></td>
                            <td>{{ przeplyw_finansowy.liczbaZakonczonychPreinkubacji|default('') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Liczba dokonanych inwestycji w okresie</strong></td>
                            <td>{{ przeplyw_finansowy.liczbaDokonanychInwestycji|default('') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
