{% extends "SsfzBundle::baseLayout.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Dane pożyczki</div>
            {{ form_start(form) }}
            <div class="panel-body">
                {# <div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">Numer umowy</label>
                        <div class="col-sm-10"><label class="control-label required">{{ sprawozdanie.numerUmowy }}</label></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">Okres sprawozdawczy</label>
                        <div class="col-sm-10"><label class="control-label required">{{ sprawozdanie.okres }} {{ sprawozdanie.rok }}</label></div>
                    </div>
                </div> #}

                <table class="table table-bordered table-condensed">
                    <tr>
                        <td rowspan="3" class="info col-sm-2"></td>
                        <td colspan="5" class="text-center"><strong>Według typu przedsiębiorstwa</strong></td>
                        <td colspan="3" class="text-center"><strong>Według przeznaczenia</strong></td>
                        <td colspan="6" class="text-center"><strong>Według działania pożyczkobiorcy</strong></td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="col-sm-1 text-center">Mikro</td>
                        <td rowspan="2" class="col-sm-1 text-center">Małe</td>
                        <td rowspan="2" class="col-sm-1 text-center">Śrdnie</td>
                        <td colspan="2" class="text-center">inne</td>

                        <td rowspan="2" class="col-sm-1 text-center">obrotowe</td>
                        <td rowspan="2" class="col-sm-1 text-center">inwestycyjne</td>
                        <td rowspan="2" class="col-sm-1 text-center">inwestycyjno-obrotowe</td>
                        <td rowspan="2" class="col-sm-1 text-center">produkcja</td>
                        <td rowspan="2" class="col-sm-1 text-center">handel</td>
                        <td rowspan="2" class="col-sm-1 text-center">usługi</td>
                        <td rowspan="2" class="col-sm-1 text-center">budownictwo</td>
                        <td rowspan="2" class="col-sm-1 text-center">rolnictwo</td>
                        <td rowspan="2" class="col-sm-1 text-center">inne</td>
                    </tr>

                    <tr>
                        <td class="col-sm-1 text-center"></td>
                        <td class="col-sm-1 text-center">w tym instytucje ekonomii społecznej</td>
                    </tr>

                    <tr>
                        <td colspan="15" class="info text-center"><strong>Liczba pożyczek (szt.)</strong></td>
                    </tr>

                    <tr>
                        <td class="text-center">do 10 000zł</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekDo10000PlnDlaMikroPrzedsiebiorstw, {'attr': {'data-vertical-group': '1'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekDo10000PlnDlaMalychPrzedsiebiorstw, {'attr': {'data-vertical-group': '2'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekDo10000PlnDlaSrednichPrzedsiebiorstw, {'attr': {'data-vertical-group': '3'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekDo10000PlnDlaInnychPrzedsiebiorstw, {'attr': {'data-vertical-group': '4'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekDo10000PlnDlaInstytucjiEkonomiiSpolecznej, {'attr': {'data-vertical-group': '5'}}) }}</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>

                    <tr>
                        <td class="text-center">od 10 0001zł do 30 000zł</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd10001Do30000PlnDlaMikroPrzedsiebiorstw, {'attr': {'data-vertical-group': '1'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd10001Do30000PlnDlaMalychPrzedsiebiorstw, {'attr': {'data-vertical-group': '2'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd10001Do30000PlnDlaSrednichPrzedsiebiorstw, {'attr': {'data-vertical-group': '3'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd10001Do30000PlnDlaInnychPrzedsiebiorstw, {'attr': {'data-vertical-group': '4'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd10001Do30000PlnDlaInstytucjiEkonomiiSpolecznej, {'attr': {'data-vertical-group': '5'}}) }}</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 30 0001zł do 50 000zł</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd30001Do50000PlnDlaMikroPrzedsiebiorstw, {'attr': {'data-vertical-group': '1'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd30001Do50000PlnDlaMalychPrzedsiebiorstw, {'attr': {'data-vertical-group': '2'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd30001Do50000PlnDlaSrednichPrzedsiebiorstw, {'attr': {'data-vertical-group': '3'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd30001Do50000PlnDlaInnychPrzedsiebiorstw, {'attr': {'data-vertical-group': '4'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd30001Do50000PlnDlaInstytucjiEkonomiiSpolecznej, {'attr': {'data-vertical-group': '5'}}) }}</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 50 0001zł do 120 000zł</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd50001Do120000PlnDlaMikroPrzedsiebiorstw, {'attr': {'data-vertical-group': '1'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd50001Do120000PlnDlaMalychPrzedsiebiorstw, {'attr': {'data-vertical-group': '2'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd50001Do120000PlnDlaSrednichPrzedsiebiorstw, {'attr': {'data-vertical-group': '3'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd50001Do120000PlnDlaInnychPrzedsiebiorstw, {'attr': {'data-vertical-group': '4'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd50001Do120000PlnDlaInstytucjiEkonomiiSpolecznej, {'attr': {'data-vertical-group': '5'}}) }}</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 120 0001zł do 300 000zł</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd120001Do300000PlnDlaMikroPrzedsiebiorstw, {'attr': {'data-vertical-group': '1'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd120001Do300000PlnDlaMalychPrzedsiebiorstw, {'attr': {'data-vertical-group': '2'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd120001Do300000PlnDlaSrednichPrzedsiebiorstw, {'attr': {'data-vertical-group': '3'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd120001Do300000PlnDlaInnychPrzedsiebiorstw, {'attr': {'data-vertical-group': '4'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd120001Do300000PlnDlaInstytucjiEkonomiiSpolecznej, {'attr': {'data-vertical-group': '5'}}) }}</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 300 0001zł</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd300001PlnDlaMikroPrzedsiebiorstw, {'attr': {'data-vertical-group': '1'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd300001PlnDlaMalychPrzedsiebiorstw, {'attr': {'data-vertical-group': '2'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd300001PlnDlaSrednichPrzedsiebiorstw, {'attr': {'data-vertical-group': '3'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd300001PlnDlaInnychPrzedsiebiorstw, {'attr': {'data-vertical-group': '4'}}) }}</td>
                        <td class="text-center">{{ form_row(form.liczbaPozyczekOd300001PlnDlaInstytucjiEkonomiiSpolecznej, {'attr': {'data-vertical-group': '5'}}) }}</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center"><strong>Suma:</strong></td>
                        <td class="text-center" data-vertical-group-sum="1">0</td>
                        <td class="text-center" data-vertical-group-sum="2">0</td>
                        <td class="text-center" data-vertical-group-sum="3">0</td>
                        <td class="text-center" data-vertical-group-sum="4">0</td>
                        <td class="text-center" data-vertical-group-sum="5">0</td>
                        <td class="text-center" data-vertical-group-sum="6">0</td>
                        <td class="text-center" data-vertical-group-sum="7">0</td>
                        <td class="text-center" data-vertical-group-sum="8">0</td>
                        <td class="text-center" data-vertical-group-sum="9">0</td>
                        <td class="text-center" data-vertical-group-sum="10">0</td>
                        <td class="text-center" data-vertical-group-sum="11">0</td>
                        <td class="text-center" data-vertical-group-sum="12">0</td>
                        <td class="text-center" data-vertical-group-sum="13">0</td>
                        <td class="text-center" data-vertical-group-sum="14">0</td>
                    </tr>

                    <tr>
                        <td colspan="15" class="info text-center"><strong>Wartość pożyczek (tys. zł)</strong></td>
                    </tr>

                    <tr>
                        <td class="text-center">do 10 000zł</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 10 0001zł do 30 000zł</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 30 0001zł do 50 000zł</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 50 0001zł do 120 000zł</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 120 0001zł do 300 000zł</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                    <tr>
                        <td class="text-center">od 300 0001zł</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>

                <tr>
                        <td class="text-center"><strong>Suma:</strong></td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>
                </table>

                {# {{ form_row(form.id) }} #}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            function sumByGroup() {
                var groups = ["1", "2", "3", "4", "5"],
                    sum = 0
                ;

                $.each(groups, function (index, value) {
                    $('[data-vertical-group='+value+']').each(function () {
                        sum = sum + parseInt($(this).val());
                    });
                    $('[data-vertical-group-sum='+value+']').text(sum);
                    sum = 0;
                });
            }

            sumByGroup();

            $('[data-vertical-group]').change(function () {
                sumByGroup();
            });
        });
    </script>
{% endblock %}
