{% extends "SsfzBundle::baseLayout.html.twig" %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Dane zagregowane</div>
            <div class="panel-body">
                <div>
                    {% set sprawozdanie = dane_zagregowane.sprawozdanie %}
                    <span><strong>Numer umowy: </strong>{{ sprawozdanie.numer_umowy }}</span>
                    <br />
                    <span><strong>Okres sprawozdawczy: </strong>{{ sprawozdanie.okres }} {{ sprawozdanie.rok }}</span>
                </div>

                <br />

                <div class="col-md-12">
                    <div class="col-md-8">
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <th class="col-md-4">Pożyczki wg przeznaczenia</th>
                                <th class="text-center col-md-2">Liczba (szt.)</th>
                                <th class="text-center col-md-2">Wartość (zł)</th>
                            </tr>
                            <tr>
                                <td>Razem</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.liczba_pozyczek_razem|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.kwota_pozyczek_razem|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Na cele obrotowe</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.liczba_pozyczek_na_cele_obrotowe|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.kwota_pozyczek_na_cele_obrotowe|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Na cele inwestycyjne</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.liczba_pozyczek_na_cele_inwestycyjne|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.kwota_pozyczek_na_cele_inwestycyjne|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Na cele obrotowo-inwestycyjne</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.liczba_pozyczek_na_cele_obrotowo_inwestycyjne|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_przeznaczenia.kwota_pozyczek_na_cele_obrotowo_inwestycyjne|default('0.00') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-8">
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <th class="col-md-4">Pożyczki wg sektora działania pożyczkobiorcy</th>
                                <th class="text-center col-md-2">Liczba (szt.)</th>
                                <th class="text-center col-md-2">Wartość (zł)</th>
                            </tr>
                            <tr>
                                <td>Razem</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_razem|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_razem|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Produkcja</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_dzialania_produkcyjne|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_dzialania_produkcyjne|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Handel</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_dzialania_handlowe|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_dzialania_handlowe|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Usługi</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_dzialania_uslugowe|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_dzialania_uslugowe|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Budownictwo</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_dzialania_budownicze|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_dzialania_budownicze|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Rolnictwo</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_dzialania_rolnicze|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_dzialania_rolnicze|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Inne</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_dzialanosci.liczba_pozyczek_dzialania_inne|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_dzialanosci.kwota_pozyczek_dzialania_inne|default('0.00') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-8">
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <th class="col-md-4">Pożyczki wg wielkości przedsiębiorstwa</th>
                                <th class="text-center col-md-2">Liczba (szt.)</th>
                                <th class="text-center col-md-2">Wartość (zł)</th>
                            </tr>
                            <tr>
                                <td>Razem</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.liczba_pozyczek_razem|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.kwota_pozyczek_razem|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Mikro</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.liczba_pozyczek_dla_mikro|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.kwota_pozyczek_dla_mikro|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Małe</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.liczba_pozyczek_dla_malych|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.kwota_pozyczek_dla_malych|default('0.00') }}</td>
                            </tr>
                            <tr>
                                <td>Średnie</td>
                                <td class="text-center">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.liczba_pozyczek_dla_srednich|default('0') }}</td>
                                <td class="text-center decimal-11-2">{{ dane_zagregowane.pozyczki_wg_wielkosci_przedsiebiorstwa.kwota_pozyczek_dla_srednich|default('0.00') }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <a id="button_return"
                        class="btn btn-default"
                        href="{{ url('lista_sprawozdan_spo',{'umowa': sprawozdanie.id_umowy}) }}"><i class="fas fa-chevron-left"></i> Powrót</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.decimal-11-2').each(function () {
                var pretty;

                pretty = accounting.toFixed($(this).text(), 2);
                pretty = accounting.formatMoney(pretty, {
                    symbol: ' zł',
                    precision: 2,
                    decinal: '.',
                    thousand: ' ',
                    format: "%v%s"
                });
                $(this).text(pretty);
            });
        });
    </script>
{% endblock %}
